*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-light-s: #fafafa;
  --color-light-l: #f6f6f6;
  --color-light-xl: #ffffff;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-3xl: #292929;
  --primary-font: "Georgia", sans-serif;
  --secondary-font: "Arial", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.section-subheading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-top: 0;
}

/* Header */
header {
  margin-top: 60px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
}

.logo .logo-title {
  color: var(--color-primary);
  font-size: 32px;
  font-family: var(--primary-font);
  font-weight: 400;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 110%;
}

.logo .logo-subtitle {
  font-family: var(--secondary-font);
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--color-light-xl);
  position: relative;
  left: 1px;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 15px;
  gap: 35px;
}

.main-nav .active-link {
  color: var(--color-light-s);
  border-bottom: 3px solid var(--color-primary);
  padding-bottom: 4px;
}

.main-nav .active-link:hover {
  color: var(--color-light-s);
}

.main-nav a:link,
.main-nav a:visited {
  text-decoration: none;
  color: var(--color-dark-s);
}

.main-nav a:hover,
.main-nav a:active {
  color: var(--color-primary);
}

/* End of Header */

/* Main */
/* Header Page */
.background-img {
  position: absolute;
  background: url(../assets/noise_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  width: 100%;
  height: 908px;
  z-index: -1;
  top: 0;
}

.home-main-section .container {
  display: flex;
  justify-content: space-between;
}

.home-main-section .call-to-action {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  max-width: 460px;
  margin-top: 223px;
}

.home-main-section .call-to-action .title {
  color: var(--color-light-xl);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  margin-top: 2px;
  margin-bottom: 42px;
  max-width: 310px;
}

.home-main-section .call-to-action .subtitle {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
  margin-top: 0px;
  margin-bottom: 42px;
}
.home-main-section .call-to-action .btn {
  color: var(--color-dark-3xl);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  display: inline-block;
  letter-spacing: 0.06em;
  padding: 15px 45px;
  background: #f1cdb3;
  border-radius: 100px;
  text-decoration: none;
}
.home-main-section .call-to-action .btn:hover {
  background-color: #fddcc4;
  transition: 0.4s;
  cursor: pointer;
}
.home-main-section .dog-image {
  background-image: url(../assets/start-screen-puppy.png);
  width: 698px;
  height: 728px;
  margin-top: 60px;
}
/* End of Header Page */

/* About the Shelter Section */
.about-shelter .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  gap: 120px;
}

.about-shelter .about-shelter-pets-img {
  width: 300px;
  margin-bottom: 100px;
  margin-left: 175px;
}

.about-shelter-description {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  margin-right: 175px;
  margin-bottom: 114px;
  margin-top: 14px;
}

.about-shelter-description .about-subheading {
  margin-bottom: 25px;
  max-width: 370px;
}

.about-shelter-description .paragraph-description {
  color: var(--color-dark-xl);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  margin-top: 0;
  margin-bottom: 25px;
  max-width: 430px;
}
.about-shelter-description .paragraph-description:last-child {
  margin-bottom: 0;
}
/* End of About the shelter Section */

/* Our Friends Looking For a House Section */
.our-friends {
  background-color: var(--color-light-l);
}
.our-friends .container {
  display: flex;
  flex-direction: column;
}

.our-friends .our-friends-subheading {
  max-width: 400px;
  margin: 80px auto 60px;
  text-align: center;
}

.our-friends .slide-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.our-friends .slide-wrapper .slider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 90px;
}

.our-friends .slider .slider-card {
  max-width: 270px;
  background-color: var(--color-light-s);
  margin-bottom: 60px;
  text-align: center;
}

.our-friends .slide-wrapper .arrow-left-btn,
.our-friends .slide-wrapper .arrow-right-btn {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  margin-bottom: 62px;
  background-color: var(--color-light-l);
}

.our-friends .slide-wrapper .arrow-left-btn:hover,
.our-friends .slide-wrapper .arrow-right-btn:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
  transition: 0.3s;
}

.our-friends .pet-image {
  margin-bottom: 25px;
}

.our-friends .pet-name {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-top: 0;
  margin-bottom: 30px;
}
.our-friends .learn-more-btn {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  padding: 13px 43px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  margin-bottom: 30px;
  background-color: var(--color-light-s);
}
.our-friends .learn-more-btn:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
  transition: 0.3s;
}
.our-friends .get-to-know-btn {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  background: var(--color-primary);
  border-radius: 100px;
  border: none;
  width: 261px;
  height: 52px;
  margin: 0 auto;
  margin-bottom: 100px;
  color: var(--color-dark-3xl);
}
.our-friends .get-to-know-btn a:link,
.our-friends .get-to-know-btn a:visited {
  text-decoration: none;
  color: var(--color-dark-3xl);
}
.our-friends .get-to-know-btn:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
  transition: 0.3s;
}
/* End of Our Friends Looking For a House Section */

/* Section How you can help our shelter */
.how-to-help {
  background-color: var(--color-light-xl);
}

.how-to-help .how-to-help-subheading {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.how-to-help .help-wrapper {
  display: flex;
  margin-left: 87px;
  margin-right: 87px;
  margin-bottom: 100px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 56px 118px;
  text-align: center;
}

.how-to-help .help-wrapper .vitamins {
  margin-left: 68px;
}

.how-to-help .help-wrapper .sleeping-areas {
  margin-right: 84px;
}

.how-to-help .help-category .help-category-description {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-top: 30px;
  margin-bottom: 0;
}

/* End of Section How you can help our shelter */
/* Section You can also make a donation */
.donation {
  background-color: var(--color-light-l);
}
.donation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 143px;
  margin-right: 142px;
  gap: 30px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.donation .donation-data .donation-subheading {
  margin-bottom: 20px;
}

.donation .donation-data .bank-description {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-bottom: 20px;
  margin-top: 0;
}
/* .donation .donation-data .clickable-card-number:link,
.donation .donation-data .clickable-card-number:visited {
  text-decoration: none;
  background-color: var(--color-primary);
}
.donation .donation-data .clickable-card-number:hover,
.donation .donation-data .clickable-card-number:active {
  text-decoration: none;
  background-color: var(--color-primary-light);
} */

.donation .donation-data .card-number-btn {
  padding: 10px 15px;
  border-radius: 9px;
  background-color: var(--color-primary);
  margin-bottom: 20px;
  max-width: 349px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.donation .donation-data .card-number-btn:hover {
  background-color: var(--color-primary-light);
}
.donation .donation-data .card-number-wrapper {
  display: flex;
  gap: 14px;
}

.donation .card-number-wrapper .card-number {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin: 0;
}

.donation .donation-data .donation-description {
  font-family: var(--secondary-font);
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-dark-m);
  max-width: 380px;
  margin-top: 0;
}
/* End of Section You can also make a donation */
/* Footer */
/* End of Footer */
